*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
}
#home{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#home>img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
#circle{
    position: absolute;
    width: 140vw;
    height: 140vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    /* background-color:white; */
}
#first {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)rotate(180deg);
}
#second{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)rotate(180deg) scale(.7);
}
#third{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)rotate(180deg)scale(.5);
}
#one{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#two{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(.7);
}
#three{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)scale(.5);
}
#smcircle{
    position: absolute;
    width: 43vw;
    height: 43vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:white;
    border-radius: 50%;

}
#overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* background-color: white; */
}
#nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    z-index: 99999;

}
#nav>h4{
    font-family: Neue Haas Grotesk Text Pro;
}
#nrigth{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#nright>h6{
    font-family: DS-Digital;
    text-align: center;
}
#shades{
    position: relative;
    height: 20px;
    background-color: blue;
    display: flex;
}
/* .cubes{
    height: 20px;
    background-color:blueviolet;
    display: flex;
} */
.smcube{
    width: 15px;
    height: 100%;
    background-color:rgb(236, 231, 231);
}
.smcube:nth-child(2){
    background-color:rgb(171, 166, 166);
}
.smcube:nth-child(3){
    background-color:rgb(118, 114, 114);
}
.smcube:nth-child(4){
    background-color:rgb(94, 91, 91);
}
.smcube:nth-child(5){
    background-color:rgb(48, 46, 46);
}
.smcube:nth-child(6){
    background-color:black;
}

#mid{
    position: absolute;
    width: 300px;
    height: 200px;
    /* background-color: red; */
    top: 40%;
    /* left: 50%; */
    right: -10%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}
#mid>img{
    width: 100%;
    height: 100%;
}
#gallery{
    position: absolute;
    font-family:Scto Grotesk A Medium;
    font-weight: 100;
    bottom: 7%;
    font-size: 150px;
    left: 50%;
    transform: translateX(-50%);
}
#footer{
    width: 100%;
    position: absolute;
    bottom: 0%;
    display: flex;
    justify-content: space-between;
    padding: 22px;
}
.ig{
    width: 90px;
}
#purple{
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color:#D5A7B4;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#pinkflare{
        position: absolute;
        font-family:Scto Grotesk A Medium;
        font-weight: 100;
        bottom: -50%;
        font-size: 150px;
        left: 50%;
        transform: translateX(-50%)rotate(15deg);
        transform-origin: 0,10px;
        color: white;
        z-index: 99999;
}
#pinkbox{
    position: absolute;
    bottom: -80%;
    width: 400px;
    height: 400px;
    background-color:rgb(213, 167, 180);
}
#seconds{
    width: 100%;
    height: 100vh;
    background-color:white;
    overflow: hidden;   
}
#hoverlay{
    position: relative;
    width: 100%;
    height: 100vh;
}
#toptop{
    position: relative;
    width: 100%;
    height: 60vh;
    /* background-color:white; */
    border-bottom: 1.5px solid rgb(162, 162, 162);
    overflow: hidden;
}
#btmbtm{
    width: 100%;
    height: 40vh;
    /* background-color:white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#number{
    width: 5vw;
    height: 5vw;
    /* background-color: red; */
    position: absolute;
    left: 3%;
    overflow: hidden;

}
#nums{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vw;

}
#wistful{
    position: absolute;
    font-family:Scto Grotesk A Medium;
    font-weight: 100;
    font-size: 45px;
    color: rgb(35, 35, 35);
    text-align: center;
}
#magenta{
    position: absolute;
    font-family:Scto Grotesk A Medium;
    font-weight: 90;
    font-size: 45px;
    color: rgb(35, 35, 35);
    text-align: center;
    opacity: 0;
}
.cir{
    position: absolute;
    width: 18vw;
    height: 18vw;
    border-radius: 50%;
    background-color: black;
    top: 150%;
    /* left: 50%; */
    transform: translate(-50%,-50%);
    scale: .7;
}
#pibox{
    left: 42%;
    /* background-color:#D5A7B4; */
    background: linear-gradient(to right,#d49dad,#d49dad);

}
#pubox{
    left: 58%;
    background-color:#B4AAD5 ;
}
#gradient{
    position: absolute;
    top: 62%;
    left: 180%;
    transform: translate(-50%,-50%);
    font-family: Neue Haas Grotesk Text Pro;
    font-size: 380px;
    font-weight: 100;
    letter-spacing:-30px;
    /* background: linear-gradient(to right,#D5A7B4,#B4AAD5 ); */
    /* background-color:#D5A7B4; */
    /* background-color:blue; */
    color: white;

}
